/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
	display: -ms-grid;
	overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
	display: flex;
	overflow: hidden;
  }
  
  .d-demo__list {
	display: flex;
	list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 95s infinite linear 0.5s both;
  }
  
  .d-demo__item {
	width: calc(100vw / 6);
  }
  .d-demo__item > img{
	 width: 100%;
  }